{% extends 'base.html.twig' %}
{% block title %}Корзина{% endblock %}
{% block body %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Корзина</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="{{ path('app_index') }}">Главная</a></li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            <form class="form Cart" action="#" method="post">
			{% set cnt = 0 %}
			    {% for good in goods %}
				
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
                        </div>
                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ good.product.name }}</a>
                            <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра   {{ good.product.id }}
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">{{ good.product.price }}$
                            </div>

                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_seller">
                            <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                            <select class="form-select">
                                <option value="good" selected="selected">shop good
                                </option>
                                <option value="kke">shop kke
                                </option>
                                <option value="sssssl">market sssssl
                                </option>
                            </select>
                        </div>
                        <div class="Cart-block Cart-block_amount">
                            <div class="Cart-amount">
                                <div class="Amount">
                                    <div class="Cart-block">
                        <a  class="btn btn_success btn_lg" href="{{ path('decrease_to_cart',{id:good.product.id}) }}">-</a>
                    </div>
                                    <input class="Amount-input form-input" name="amount" type="text" value="{{ good.quantity }}" />
                                    <div class="Cart-block">
                        <a  class="btn btn_success btn_lg" href="{{ path('increase_to_cart',{id:good.product.id}) }}">+</a>
                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_delete">
                            <a class="Cart-delete" href="{{ path('app_cart_delete', {id: good.product.id}) }}"><img src="assets/img/icons/card/delete.svg" alt="delete.svg"/></a>
                        </div>

                    </div>
                </div>
                     {% set cnt = good.product.price * good.quantity + cnt %}
                      {{ app.session.set('total', cnt) }}
                {% endfor %}

                <div class="Cart-total">
                    <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">Итого:
                        </strong><span class="Cart-price">{{ cnt }}$</span><span class="Cart-price_old">250.99$</span>
                    </div>
                    <div class="Cart-block">
                        <a class="btn btn_success btn_lg" href="{{ path('remove_to_cart') }}">Очистить</a>
                    </div>
                    <div class="Cart-block">
                    <input  type="submit" class="btn btn_success btn_lg" id="update" name="update" value="Пересчитать">
                </div>
                    <div class="Cart-block">
                        <a class="btn btn_success btn_lg" href="{{ path('app_catalog') }}">Продолжить покупки</a>
                    </div>
                    <div class="Cart-block"><a class="btn btn_success btn_lg" href="{{ path('app_order') }}">Оформить заказ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
