{% extends 'base.html.twig' %}

{% block body %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Продавец: {{  seller.name  }}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{{ path('app_index') }}">Главная</a></li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>О продавце</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnWide">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="assets/img/icons/contacts/phone.svg" alt="phone.svg"/>
              </div>
              <div class="media-content">Тел:&#32;
                <nobr>+{{ seller.phone }}</nobr>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="assets/img/icons/contacts/address.svg" alt="address.svg"/>
              </div>
              <div class="media-content">
               {{ seller.address }}
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_middle">
              <div class="media-image"><img src="assets/img/icons/contacts/mail.svg" alt="mail.svg"/></div>
              <div class="media-content">
                Email: {{ seller.email }}</div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          <div class="row row_verticalCenter row_maxHalf">
            <div class="row-block">
              <div class="pict"><img src="assets/img/content/home/bigGoods.png" alt="bigGoods.png"/>
              </div>
            </div>
            <div class="row-block">
              <h2>ООО {{  seller.name  }}</h2>

              <div>{{  seller.description  }}</div>
            </div>
          </div>
          <header class="Section-header">
            <h2 class="Section-title">Популярные товары продавца</h2>
          </header>
          <div class="Cards">
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                  </div>
                  <div class="Card-category">Digital / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$210.00</span>
                  </div>
                  <div class="Card-category">Media / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Barand New Phone Smart Business</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                  </div>
                  <div class="Card-category">Games / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Mavic PRO Mini Drones Hobby RC Quadcopter</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$185.00</span>
                  </div>
                  <div class="Card-category">Digital / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
            <div class="Card hide_md hide_1450"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
              <div class="Card-content">
                <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                </strong>
                <div class="Card-description">
                  <div class="Card-cost"><span class="Card-price">$210.00</span>
                  </div>
                  <div class="Card-category">Media / xbox
                  </div>
                  <div class="Card-hover"><a class="Card-btn" href="#"><img src="assets/img/icons/card/bookmark.svg" alt="bookmark.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/cart.svg" alt="cart.svg"/></a><a class="Card-btn" href="#"><img src="assets/img/icons/card/change.svg" alt="change.svg"/></a>
                  </div>
                </div>
              </div>
              <div class="Card-sale">-60%
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}