{% extends 'base.html.twig' %}

{% block body %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">Оформление заказа
                </h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item"><a href="index.html">Главная</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
        <div class="wrap">
            <div class="Section-column">
                <div class="Section-columnSection">
                    <header class="Section-header">
                        <strong class="Section-title">Прогресс заполнения
                        </strong>
                    </header>
                    <div class="Section-columnContent">
                        <ul class="menu menu_vt Order-navigate">
                            <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры пользователя</a></li>
                            <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ доставки</a></li>
                            <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Способ оплаты</a></li>
                            <li class="menu-item"><a class="menu-link" href="#step4">Шаг 4. Подтверждение заказа</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="Section-content">
                <form class="form" name="order_form" action="" method="post">
                    <div class="Order-block Order-block_OPEN" id="step1">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 1. Параметры пользователя</h2>
                        </header>
                        <div class="row">
                            <div class="row-block">
                                <div class="form-group">
                                    <label class="form-label" for="name">ФИО</label>
                                    <input class="form-input" id="name" name="name" type="text"
                                            {% if orderDetails is not null %}
                                           value="{{ orderDetails.customer }}"
                                           {% endif %}
                                           placeholder="Ваше ФИО"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="phone">Телефон</label>
                                    <input class="form-input" id="phone" name="phone" type="text"
                                            {% if orderDetails is not null %}
                                           value="{{ orderDetails.Phone }}"
                                            {% endif %}
                                           placeholder="+70000000000"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="mail">E-mail</label>
                                    <input class="form-input" id="mail" name="mail" type="text"
                                            {% if orderDetails is not null %}
                                           value="{{ orderDetails.Email }}"
                                            {% endif %}
                                           data-validate="require" placeholder="client@example.com"/>
                                </div>
                            </div>
                            <div class="row-block">
                                <div class="form-group">
                                    <label class="form-label" for="password">Пароль</label>
                                    <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="passwordReply">Подтверждение пароля</label>
                                    <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>
                                </div>
                                <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{{ path('app_login') }}">Я уже зарегистрирован</a></div>
                            </div>
                        </div>
                        <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step2">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 2. Способ доставки</h2>
                        </header>
                        <div class="form-group">
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="delivery" value="ordinary" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Обычная доставка</span>
                                </label>
                            </div>
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="delivery" value="express"/><span class="toggle-box"></span><span class="toggle-text">Экспресс доставка ($500.00)</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="city">Город
                            </label>
                            <input class="form-input" id="city" name="city" type="text"
                                    {% if orderDetails is not null %}
                                        value="{{ orderDetails.city }}"
                                    {% endif %}
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="address">Адрес
                            </label>
                            <textarea class="form-textarea" name="address" id="address"

                                >{% if orderDetails is not null %}{{ orderDetails.address }} {% endif %}</textarea>

                        </div>
                        <div class="Order-footer">
                            <a class="btn btn_success Order-next" href="#step1">Назад</a>
                            <a class="btn btn_success Order-next" href="#step3">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step3">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 3. Способ оплаты</h2>
                        </header>
                        <div class="form-group">
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="pay" value="online" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Онлайн картой</span>
                                </label>
                            </div>
                            <div>
                                <label class="toggle">
                                    <input type="radio" name="pay" value="someone"/><span class="toggle-box"></span><span class="toggle-text">Онлайн со случайного чужого счета</span>
                                </label>
                            </div>
                        </div>
                        <div class="Order-footer">
                            <a class="btn btn_success Order-next" href="#step2">Назад</a>
                            <a class="btn btn_success Order-next" href="#step4"  name="btn-check">Дальше</a>
                        </div>
                    </div>
                    <div class="Order-block" id="step4">
                        <header class="Section-header Section-header_sm">
                            <h2 class="Section-title">Шаг 4. Подтверждение заказа</h2>
                        </header>
                        <!--+div.Order.-confirmation-->
                        <div class="Order-infoBlock">
                            <div class="Order-personal">
                                <div class="row">
                                    <div class="row-block">
                                        <div class="Order-info">
                                            <div class="Order-infoType">ФИО:
                                            </div>
                                            <div class="Order-infoContent" id="check-name">Иванов Иван Иванович
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Телефон:
                                            </div>
                                            <div class="Order-infoContent" id="check-phone">+7000000000
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">E-mail:
                                            </div>
                                            <div class="Order-infoContent" id="check-mail">send@test.test
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="Order-info Order-info_delivery">
                                            <div class="Order-infoType">Тип доставки:
                                            </div>
                                            <div class="Order-infoContent" id="check-delivery">Обычная доставка
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Город:
                                            </div>
                                            <div class="Order-infoContent" id="check-city">Москва
                                            </div>
                                        </div>
                                        <div class="Order-info">
                                            <div class="Order-infoType">Адрес:
                                            </div>
                                            <div class="Order-infoContent" id="check-address">Ул. Академика Арцимовича, д. 10, кв. 10
                                            </div>
                                        </div>
                                        <div class="Order-info Order-info_pay">
                                            <div class="Order-infoType">Оплата:
                                            </div>
                                            <div class="Order-infoContent" id="check-pay" >Онлайн картой
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Cart Cart_order">
                                {% set i = 0 %}
                                {% for gidOrd in gidsOrd %}
                                {% if countsOrd is not null %}
                                {% if countsOrd [i] > 0 %}
                                <div class="Cart-product">
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
                                        </div>
                                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ gidOrd.0.title }}</a>
                                            <div class="Cart-desc">Это супер ноутбук, 3 гб. 4 ядра {{ gidOrd.0.productId }}
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_price">
                                            <div class="Cart-price">{{ gidOrd.0.price }}$
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_row">
                                        <div class="Cart-block Cart-block_seller">
                                            <div>Продавец:
                                            </div>
                                            <div>shop good
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_amount">{{ countsOrd [i] }} шт.
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                                    {% set i = i + 1 %}
                                {% endfor%}
                                <div class="Cart-total">
                                    <div class="Cart-block Cart-block_total">
                                        <strong class="Cart-title">Итого:
                                        </strong><span class="Cart-price">{{ totalOrd }}$</span><span class="Cart-price_old">250.99$</span>
                                    </div>
                                    <div class="Cart-block">
                                        <a class="btn btn_success Order-next" href="#step3">Назад</a>
                                        <button class="btn btn_primary btn_lg" type="submit" name="btn">Оплатить
                                        </button>
                                        {% block javascripts %}
                                            <script>
                                                let radios = document.querySelectorAll('input[name="pay"]');
                                                let button = document.querySelector('[name="btn"]');
                                                let forms = document.querySelector('[name="order_form"]');
                                                button.addEventListener('click', function() {
                                                    for (let radio of radios) {
                                                        if (radio.checked) {
                                                            if (radio.value === "online") {
                                                               forms.action ="{{ path('app_payment') }}";

                                                            } else {
                                                                forms.action ="{{ path('app_paymentsomeone') }}";

                                                            }
                                                        }
                                                    }
                                                });

                                            </script>
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}